body {
    background-image: linear-gradient(to left, #13cedd, #19aee2);    /* background-color: #56B66F; */
    /* background-image: linear-gradient(to left, #33ba47, #33ba47, #084706 ); */
}

.contenedor-boton {
    display: flex;
    justify-content: center;
}

.boton {
    margin-left: 20px;
    background-color: #7F5DD5;
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px;
    color: white;
}

.p {
    text-align: center;
    color: white;
}

.div-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
   list-style-type: none;
   margin: 10px;
}

#respuesta2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .contenedor {
    display: flex;
    justify-content: center;
}

.img {
    height: 200px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    margin: 20px;

    transition: 1s;
}

.img:hover {
    transform: rotate(1deg);
} */